.wp-block-runpartner-news-carousel {
	padding: 2rem;
	border: 1px dashed var(--wp--preset--color--accent-6);
	border-radius: 8px;
	text-align: center;
	color: var(--wp--preset--color--accent-4);
	font-size: var(--wp--preset--font-size--small);
}
